<nav>
    <div class="navbar">
        <ul>
            <li>
                <a routerLink="/books" routerLinkActive="active">All Books</a>
            </li>
            <li>
                <a routerLink="/read" routerLinkActive="active">Read</a>
            </li>
            <li>
                <a routerLink="/toread" routerLinkActive="active">Want to Read</a>
            </li>
            <li>
                <a routerLink="/edit" routerLinkActive="active">Edit</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>