<div class="bookslist">
    <div *ngFor="let book of booksList" class="row">
        <div class="maindetails">
            <h2 class="details">{{book.title}}</h2>
            <h3 class="details">{{book.subtitle}}</h3>
            <h4 class="details"> by {{book.author}}</h4>
            <p class="details">{{book.description}}</p>
        </div>
        <div class="links">
                <p>ISBN: {{book.isbn}}</p>
            <a class="readlink" href="{{book.website}}">Read Here</a>
            <button class="readlink">Mark as Read</button>
            <button class="readlink">Want to Read</button>
        </div>
        <div class="smalldetails">
            <p>Published {{book.published}}, by {{book.publisher}}</p>
            <p>Ebook, {{book.pages}} pages</p>
        </div>
        
    </div>
</div>