<edit *ngIf="loadEdit" (close)="closeEdit($event)" [editBook]="editBook"></edit>
<button class="add" (click) = "openAdd()">Add Book</button>
<add-book *ngIf="loadAdd" (add)="addBook($event)"></add-book>
<div class="operations">
    <div *ngFor="let book of booksList" class="row">
        <p class="details">{{book.title}}</p>
        <p class="details">{{book.subtitle}}</p>
        <p class="details"> by {{book.author}}</p>
        <p class="details">{{book.description}}</p>
        <p class="details">{{book.isbn}}</p>
        <a class="details" href="{{book.website}}">Read Here</a>
        <p class="details">Published {{book.published}}, by {{book.publisher}}</p>
        <p class="details"s>{{book.pages}} pages</p>
        <div class="links">
            <button (click) = "openEdit(book)" >Edit</button>
            <button (click) = "deleteBook(book.isbn)">Delete</button>
        </div>
    </div>
</div>

